* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #020d17;
  color: #ffffff;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
